* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  padding: 10px 50px;
}

.content {
  padding: 30px 15px;
  margin-bottom: 40px;

  .title {
      text-transform: uppercase;
      margin-bottom: 10px;
      text-decoration: underline 3px rgb(46, 46, 46);
  }

  .description {
      word-spacing: 2px;
      line-height: 23px;
  }
}